.rps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.rps-game {
  width: 900px;
  min-height: 58vh;

  padding: 20px;
  border: double 3px black;

  font-family: Monocraft;
}

h1 {
  text-align: center;
}

.binding {
  margin-bottom: 35px;

  font-size: 12px;
  text-align: center;
}

.pick-menu,
.score-menu {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.pick-menu p,
.score-menu p {
  width: 50%;
}

#player-score,
#computer-score {
  color: #f8c8dc;
}

#shape-menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: solid 2px black;
  margin: 20px auto;
  width: 300px;
}

#shape-menu button {
  width: 70px;
  height: 30px;
  margin: 0 30px;

  text-align: left;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#shape-menu button:disabled {
  color: grey;
  cursor: default;
}


#general-message,
#round-message {
  text-align: center;
}

#player-pick {
  position: relative;
}

.damaged {
  animation: take-damage 0.5s ease-in;
}

@keyframes take-damage {
  25% {
    background-color: red;

    top: -8px;
    bottom: 0px;
    left: -8px;
    right: 0px;
  }

  50% {
    top: 0px;
    bottom: 10px;
    left: 0px;
    right: 10px;
  }

  75% {
    top: -5px;
    bottom: 0px;
    left: -5px;
    right: 0px;
  }

  100% {
    background-color: inherit;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

button {
  position: relative;
}

button #cursor {
  position: absolute;
  left: -18px;
}
